/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
@font-face {
    font-family:Lato;
    src: url(../fonts/sans-serif/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/sans-serif/roboto-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ultra;
    src: url(../fonts/serif/ultra-regular.ttf);
    font-style: normal;
    font-weight: normal;
}

html {
    font-family: Roboto, Arial, sans-serif;
    font-size:16px;
}

body {
    margin: 2 auto;
    padding: 0;
}

header {
    margin: 0 auto;
    padding: .7rem 10%; 
}

.line {
    border-bottom: .3rem solid slateblue;
    display: block;
}

.vertical-line {
    border-left: .10 solid #906;
    display: block;
    height: auto;
    margin-left: 1rem;
    width: 5rem;
}
nav {
    margin: 1rem 0;
    padding: 0 5%;
    
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 4rem 1rem 0;
    font-size: 1.75rem;
    color: midnightblue;
    
}

nav :nth-child(even):focus,
nav :nth-child(even):hover,
nav :nth-child(even):active {
    text-decoration: line-through;
    transform: rotate(4deg);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
}
 
nav :nth-child(odd):focus,
nav :nth-child(odd):hover,
nav :nth-child(odd):active {
    text-decoration: line-through;
    transform: rotate(-4deg);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
}



main {
    margin: 2 auto;
    padding: 1rem 1rem 1rem 2.5rem;
    width: 90%;
}

img {
    width: 100%;
    display: block;
    max-width: 20rem;
}

.main-section {
    display: flex;
}

.article-image {
    width: 60%;
    float: left;
    margin: 0;
    padding: 0;
}

.article-image + p {
    margin-top: 0;
    padding: 0;
        
}

.subsection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
    grid-column-gap: 1%;
    margin: 2rem 1rem 2rem 0;
}

.subsection figure {
    padding: 1;
    margin: 1;
    background-color: aquamarine;
}

.subsection figcaption {
    padding: 1;
    font-size: .8rem;
}

.subsection img {
    padding-bottom: 1%;
    min-width: 2rem;
}

button a {
    text-decoration: none;
    font-family: Ultra, Garamond, serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: inherit;
    font-weight: normal;
    color: black;
    text-align: center;
    background-color: red;
    border-radius: 1rem;
    padding: .7rem;
    box-shadow: .2rem .2rem .2rem yellow;
}

figure {
    width: 100%;
    margin: 0 1% 0 0;
    float: left;
}

aside {
    clear: left;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 20%;
}

p {
    line-height: 1.5rem;
}


h1 {
    font-family: Lato, Arial, sans-serif;
    letter-spacing: .07rem;
    font-size: 3rem;
    color: dimgray;
    text-shadow: .2rem .2rem .2rem yellow;
    transform: rotate(-5deg);
    text-align: center;
}

h2 {
    font-family: Lato, Arial, sans-serif;
    font-size: 2rem;
    text-align: left;
}

h3 {
    font-family: Lato, Arial, sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.highlight {
    font-family: Ultra, Garamond, serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 3.5rem;
    letter-spacing: .25rem;
    font-weight: normal;
    color: black;
    text-shadow: .2rem .2rem .2rem yellow;
    text-align: center;
    background-color: red;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0 1rem;
    box-shadow: .2rem .2rem .2rem yellow;
}

footer {
    margin: 5rem auto .5rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
}